<%- include('partials/header') %>

<div class="container">
	<h1>Course Details</h1>
	<h2>Name: <%= course.title %></h2>
	<h2>Description: <%= course.description %></h2>
	<br>
	<button onclick="window.location.href='/courses/<%= course.id %>/edit'" class="btn btn-primary">Edit</button>
	<button onclick="window.location.href='/courses/<%= course.id %>/delete'" class="btn btn-primary">Delete</button>
	<button type="button" onclick="window.location.href='/courses'" class="btn btn-primary">View all courses</button>
</div>

<%- include('partials/footer') %>