<%- include('partials/header') %>

<h1><%= course.title %></h1>
<h2><%= course.description %></h2>
<button type="button" onclick="window.location.href='/courses'">View all courses</button>
<button onclick="window.location.href='/courses/<%= course._id %>/edit'">Edit</button>
<button onclick="window.location.href='/courses/<%= course._id %>/delete'">Delete</button>

<%- include('partials/footer') %>