<%- include('partials/header') %>

<div class="container">
	<h1>Edit a course</h1>
	<form action="/courses/<%= course._id %>?_method=PUT" method="post">
		<input type="text" name="title" value="<%= course.title %>">
		<input type="text" name="description" value="<%= course.description %>"><br>
		<br>
		<input type="submit" name="submit" value="OK" class="btn btn-primary">
		<button type="button" onclick="window.location.href='/courses'" class="btn btn-primary">View all courses</button>
	</form> 
</div>

<%- include('partials/footer') %>